body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
}
h1 {
    color: white;
    font-size: 50px;   
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}
a {
    color: aquamarine;
    font-size: 16px;
}
p {
    color: grey;
    font-size: 21px;
}
.phone-icon {
    padding: 15px 0 0 0;
}
.copyrights {
    text-align: right;
    color: grey;
}
.links {
    margin: 10px;
}